/*  
Theme Name: Wild Goose
Theme URI: http://www.freewpthemes.net/preview/wildgoose
Description: Widget ready and tested on WP 2.3.1.
Version: 2.0
Author: Free WordPress Themes
Author URI: http://www.freewpthemes.net/
*/


body {
	margin: 0;
	padding: 0;
	background: #033976 url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #FF7200;
}

a:hover {
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	clear: both;
	width: 980px;
	height: 249px;
	margin: 0 auto;
	padding: 0px;
	background: url(images/img03.jpg) no-repeat left top;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 0px 0px 0px 40px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0px;
	padding: 0px;
}

#logo h1 {
	padding-top: 120px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 4.8em;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	font: normal 20px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	width: 280px;
	height: 40px;
	padding: 0px 0px 0px 0px;
	background: url(images/img08.jpg) no-repeat 20px 11px; 
}

#search form {
	height: 41px;
	margin: 0px;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 180px;
	margin-top: 12px;
	margin-left: 20px;
	padding: 6px 5px 2px 5px;
	outline: none;
	background: none;
	border: none;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000E1F;
}

#search-submit {
	width: 40px;
	height: 22px;
	border: none;
	background: none;
	color: #000000;
}

/* Menu */

#menu {
	width: 980px;
	height: 61px;
	margin: 0px auto;
	padding: 90px 0px 0px 0px;
	background: url(images/img02.jpg) no-repeat left top;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 35px;
	margin-right: 1px;
	padding: 16px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 980px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: url(images/img06.jpg) repeat-y left top;
}

#page-bgtop {
	background: url(images/img04.jpg) no-repeat left top;
}

#page-bgbtm {
	padding: 30px 10px 0px 40px;
	background: url(images/img05.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: left;
	width: 600px;
	padding: 30px 0px 0px 0px;
}

.post {
	margin-bottom: 15px;
	background: url(images/img10.gif) repeat-x left bottom;
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

.post .title a {
	border: none;
	color: #FFFFFF;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0px 0px 20px 0px;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	margin: 0px 30px;
	border-left: none;
	background: url(images/img10.gif) repeat-x left bottom;
}

#sidebar li li a {
	padding-left: 20px;
	background: url(images/img09.jpg) no-repeat left 5px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #7AA7DE;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #7AA7DE;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 980px;
	height: 70px;
	margin: 0px auto 30px auto;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(images/img07.jpg) no-repeat left top;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #3185EB;
}

#footer a {
	color: #3185EB;
}

.pagetitle {
	padding-top: 20px;
}

.navigation {
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}